<div class="table-container">
  <div class="container">
    <div id="resultsTable" class="table-responsive">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Date</th>
            <th scope="col">Name</th>
            <th scope="col">Location</th>
            <th scope="col">Type</th>
            <th scope="col">Alert</th>
            <th scope="col">Out of Area</th>
          </tr>
        </thead>
        <tbody>
          @for (datapoint of data; track data.individual; let i = $index) {
          <tr>
            <td>
              {{ datapoint.timestamp }}
            </td>
            <td>
              {{ datapoint.individual }}
            </td>
            <td>{{ datapoint.location }}</td>
            <td>{{ datapoint.type }}</td>
            <td>{{ datapoint.alert }}</td>
            <td>{{ datapoint.out_of_area }}</td>
          </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
</div>
